<div>
    <div class="row justify-content-center">
        <div class="col-11 mt-2">
            <label for="" class="form-label">Categoria</label>
            <select name="" id="" class="form-select">
                <option selected>Opcion 1</option>
            </select>
        </div>
        <!-- Hola -->
        <div class="col-11 mt-2">
            <label for="" class="form-label">Subcategoria</label>
            <select name="" id="" class="form-select">
                <option selected>Subcategoria 1</option>
            </select>
        </div>
        <div class="col-11 mt-2">
            <label for="" class="form-label">Producto</label>
            <select name="" id="" class="form-select">
                <option selected>Producto 1</option>
            </select>
        </div>
        <!-- todo -->
        <!-- probando mnueva rama -->
        <div class="col-11 mt-2">
            <label for="" class="form-label">Marca</label>
            <select name="" id="" class="form-select">
                <option selected>Marca 1</option>
                <!--subir ddd cambios-->
            </select>
        </div>
        <div class="col-11 mt-2">
            <label for="" class="form-label">Modelo</label>
            <select name="" id="" class="form-select">
                <option value="3">Modelo 1</option>
            </select>
        </div>
        <div class="col-4 mt-5">
            <button class="btn btn-danger">Borrar</button>
            <button class="btn btn-success ms-3">Buscar</button>
        </div>
    </div>
</div>
