<body>
  <header>
    <h1>Búsqueda de Proveedores</h1>
  </header>
  <div class="container">
    <form>
      <div class="form-group">
        <label for="content">Categorias</label>
        <select class="form-control" name="categoria" id="categoria">
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.nombre }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="content">Subcategorias</label>
        <select class="form-control" name="subcategoria" id="subcategoria">
            <option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id">
              {{ subcategoria.nombre }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="content">Producto</label>
        <select class="form-control" name="producto" id="producto">
            <option *ngFor="let producto of productos" [value]="producto.id">
              {{ producto.nombre }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="content">Marca</label>
        <select class="form-control" name="marca" id="marca">
            <option *ngFor="let marca of marcas" [value]="marca.id">
              {{ marca.nombre }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="content">Modelo</label>
        <select class="form-control" name="modelo" id="modelo">
            <option *ngFor="let modelo of modelos" [value]="modelo.id">
              {{ modelo.nombre }}</option>
        </select>
      </div>
      <div class="center-button">
        <button (click)="buscar()" class="add-button">Buscar</button>
      </div>
    </form>
  </div>
  <div class="container">
    <h2 class="proveedor-header">Proveedores encontrados</h2>
    <ul class="resultados-list">
      <li class="proveedor">
        <span>Proveedor 1</span>
        <div>
          <button class="fav-button"></button>
          <button class="ver-button"></button>
        </div>
      </li>
      <li class="gray-line"></li>
      <li class="proveedor">
        <span>Proveedor 2</span>
        <div>
          <button class="fav-button"></button>
          <button class="ver-button"></button>
        </div>
      </li>
      <li class="gray-line"></li>
      <!-- Agregar más proveedores aquí... -->
    </ul>
  </div>
</body>